<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>We have received you order, <%= @order.name %></h1>
	<p>We'll contact you as soon as we can</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>