<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @order.name %>, hem rebut la informació de la teva reparació</h1>

    <p>En les properes hores t'enviarem un altre correu amb la data estimada d'entrega</p>

	<p>Gràcies per confiar en InThe - Aclaro</p>
  </body>
</html>